In [1]:
# Load library
import pandas as pd

In [2]:
# Create URL
url = 'https://raw.githubusercontent.com/chrisalbon/sim_data/master/titanic.csv'

In [3]:
# Load data
dataframe = pd.read_csv(url)

In [4]:
# Sort the dataframe by Age
dataframe.sort_values(by=["Age"]).head(2)

,Name,PClass,Age,Sex,Survived,SexCode
763,"Dean, Miss Elizabeth Gladys (Millvena)",3rd,0.17,female,1,1
751,"Danbom, Master Gilbert Sigvard Emanuel",3rd,0.33,male,0,0